extends layouts/layout
block content
  .row.py-3
    //Contact us page has an email response that will eventually post to an email server
    h1.pl-3.ca-header-font= title
    p= aboutUs
  .row
    .col-12.col-md-8
      .card
        .card-body
          h3.card-title.pb-3 Contact Us

          //Form will eventually post to the email server.
          form(name='contact', method='post')
            .form-group.row
              label.col-form-label.col-sm-2(for='email') Email:
              .col-sm-6
                input#email.form-control(type='email', name='email', required, placeholder='Enter a valid email address')
            .form-group.row
              label.col-form-label.col-sm-2(for='name') Name:
              .col-sm-6
                input#name.form-control(type='text', name='name', required, placeholder='Enter your name')
            .form-group.row
              label.col-form-label.col-sm-2(for='msg') Your Message:
              .col-sm-6
                textarea#msg.form-control(rows='5', name='msg', required, placeholder='Type your message')
            .form-group.row
              .col-sm-6
                button.btn.btn-primamry(type='submit') Send Message
