extends layouts/layout

block content
  .row.py-3
    h1.pl-3.ca-header-font= title
    p= aboutUs
  .row
    .col-12.col-md-8
      .card
        .card-body
          h3.card-title.pb-3 Second Treasures Calendar

          iframe(src='https://calendar.google.com/calendar/embed?src=nrldlda4udafrrf865f5mghs00%40group.calendar.google.com&ctz=America%2FVancouver', style='border: 0', width='800', height='600', frameborder='0', scrolling='no')
