extends layouts/layout

block content
  .row.py-3
    h1.pl-3.ca-header-font= title
    p= aboutUs
  .row
    .col-12.col-md-8
      .card
        .card-body
          h4.card-title.pb-3 Thank you


          p
            | Thanks for the email #{name}
